/****************************
 FONTS
****************************/
@font-face {
  font-display: swap;
  font-family: 'Bellefair';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/bellefair-v15-latin-regular.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Barlow Condensed';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/barlow-condensed-v13-latin-regular.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Barlow';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/barlow-v13-latin-regular.woff2') format('woff2');
}

/****************************
 GLOBAL STYLES
****************************/
body {
  background: #0B0D17 url("../img/background-m.jpg") center/cover no-repeat;
  min-height: 100vh;
  color: #D0D6F9;
  font-family: 'Barlow', sans-serif;
  font-weight: 400;
  font-size: 1.5rem;
  
}

.container {
  padding-left: 2.4rem;
  padding-right: 2.4rem;
  max-width: 111rem;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: #fff;
}

/****************************
 TYPOGRAPHY
****************************/

 p {
  line-height: 2.5rem ;
}

.pre-title {
  font-family: 'Barlow Condensed', sans-serif;
  font-size: 1.6rem;
  letter-spacing: 0.27rem;
  padding-top: 1.5rem;
  padding-bottom: 2.5rem;
  text-align: center;
  color:#fff;
}

.txt .pre-title{
  color:#D0D6F9;
  padding-top: 2rem;
  padding-bottom: 1rem;
}

.pre-title span {
  padding-right: 1.8rem;
  font-weight: 700;
  opacity: 0.5;
}

h1 {
  font-family: 'Bellefair', serif;
  color: #fff;
  font-weight: 400;
  font-size: 8rem;
}

ul li {
  list-style: none;
}


/****************************
 HEADER
****************************/
header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: 'Barlow Condensed', sans-serif;
  padding-top: 2.4rem;
}

/* --- Bouton burger --- */
.burger {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.6rem;
  width: 2.4rem;
  height: 3rem;
  background: none;
  border: none;
  padding: 0;
  z-index: 50;
  cursor: pointer;
}

.burger span {
  display: block;
  width: 100%;
  height: 0.3rem;
  background: #D0D6F9;
  transition: all 0.4s ease;
}

/* --- Animation du burger en croix --- */
.burger.active span:nth-child(1) {
  transform: translateY(8.5px) rotate(45deg);
  background-color: #fff;
}

.burger.active span:nth-child(2) {
  opacity: 0;
}

.burger.active span:nth-child(3) {
  transform: translateY(-8.5px) rotate(-45deg);
  background-color: #fff;
}

/****************************
 NAVIGATION MOBILE
****************************/
.nav {
  position: fixed;
  top: 0;
  right: 0;
  width: 70%;
  height: 100vh;
  background: rgba(255, 255, 255, 0.1); /* un peu plus opaque */
  -webkit-backdrop-filter: blur(20px); /* compatibilité iOS Safari */
  backdrop-filter: blur(20px);
  padding: 12rem 3rem;
  transform: translateX(100%);
  transition: transform 0.4s ease;
  display: flex;
  flex-direction: column;
  z-index: 40;
}

.nav.open {
  transform: translateX(0);
}

.nav-liste {
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
}

.nav-item a {
  font-family: 'Barlow Condensed', sans-serif;
  color: #fff;
  letter-spacing: 0.27rem;
  text-transform: uppercase;
  font-size: 1.6rem;
  font-weight: 400;
}

.nav-item a span {
  font-weight: 700;
  margin-right: 0.8rem;
  opacity: 0.5;
}

/****************************
 HERO
****************************/
.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  max-width: 38rem;
  gap: 1.6rem;
  padding-top: 4.8rem;
}

.btn-explore {
  margin: 7rem 0 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 15rem;
  height: 15rem;
  background-color: #fff;
  border-radius: 50%;
  flex: 0 0 15rem;
}

.hero a {
  font-family: 'Bellefair', serif;
  font-weight: 400;
  font-size: 2rem;
  letter-spacing: 0.12rem;
  color: #0B0D17;
}

/* ----------------------------------------------------------- */
/* PAGE DESTINATION */
/* ----------------------------------------------------------- */

body.page-destination {
  background-image: url("../img/background-desti-m.jpg") ;
}

.img-lune img{
  width: 17rem;
  height: 17rem;
}


.contenu-destination {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.img-lune img {
  display: inline-block;
  margin: 0 auto;
}

.nav-destination .liste-destination {
  display :flex;
  flex-direction: row;
  gap: 2.6rem;
  justify-content: center;
  padding-top: 2.6rem;
}

.item-destination a {
  position: relative;
  font-family: 'Barlow Condensed';
  font-style: normal;
  font-weight: 400;
  color: #D0D6F9;
  font-size: 1.4rem;
  letter-spacing: 0.27rem;
  text-decoration: none;
}

/* Gestion deu before/active du nav destination  */
.item-destination a::before {
  content: "";
  position: absolute;
  bottom: -1.5rem;
  left: 0;
  right: 0;
  height: 0.3rem;
  background-color: #fff;
  transform: scaleX(0);
  opacity: 0;
  transform-origin: center;
  transition: transform 0.3s ease;
}

.item-destination a:hover::before {
  transform: scaleX(1);
  opacity: 0.5;
  bottom: -1.5rem;
}

.item-destination a.active::before {
  transform: scaleX(1);
  opacity: 1;
}


.item-destination a.active {
  color: #fff;
}



  .txt-destination h2{
    font-family: 'Bellefair';
    font-style: normal;
    font-weight: 400;
    font-size: 5.6rem;
    padding-top: 2rem;
    color: #fff;
    
  }

  .txt-destination p {
   position: relative;
   padding-bottom: 2rem;
   font-size: 1.5rem;
   font-family: 'Barlow';
   font-style: normal;
   font-weight: 400;
  }

  .txt-destination p::before{
    content: "";
    position: absolute;
    bottom: -1rem; 
    left: 0;
    right: 0;
    height: 0.1rem;
    background-color: #fff;
    opacity: 0.5;
  }

  .description-destination {
    padding-top: 2rem;
    padding-bottom: 2rem;

  }
  
  .description-destination ul {
 
  padding: 0;          
  text-align: center;    
}

  .description-destination li:nth-child(1){
    
    font-family: 'Barlow Condensed';
    font-style: normal;
    font-weight: 400;
    font-size: 1.4rem;
    letter-spacing: 0.23rem;
    padding-bottom: 1rem;
  }

  .description-destination li:nth-child(2){
    color:#fff;
    font-family: 'Bellefair';
    font-style: normal;
    font-weight: 400;
    font-size: 2.8rem;
    padding-bottom: 2rem;
  }


/* ----------------------------------------------------------- */
/* PAGE CREW */
/* ----------------------------------------------------------- */

body.page-crew {
  background-image: url("../img/background-crew-m.jpg") ;
}

.crew-txt{
  text-align: center;
}

.crew-txt .crew-role {
  font-family: 'Bellefair';
  font-style: normal;
  font-weight: 400;
  font-size: 1.6rem;
  color: #fff;
  opacity: 0.5;
  padding-bottom: 0.2rem;
}

.crew-txt h3{
  font-family: 'Bellefair';
  font-style: normal;
  font-weight: 400;
  font-size: 2.4rem;
  color: #fff;
  padding-bottom: 1.5rem;
}

.crew-txt p{
  font-size: 1.5rem;
  padding-bottom: 5rem;
  font-weight: 400;
}

.contenu-crew {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.picture-crew  {
  position: relative;
  width: 17.7rem;
  height: 25rem;
  padding-top: 1rem;
}

.picture-crew::before {
  content: "";
  position: absolute;
  bottom: 2rem;
  left: 50%; 
  transform: translateX(-50%);
  width: 32.7rem;    
  height: 0.1rem;
  background-color: #383B4B;
  opacity: 1;
}

/* Style slider */
.crew-slider {
  display: flex;
  justify-content: center;
  gap: 1.7rem;
  padding-top: 1.3rem;
  padding-bottom: 3rem;
}

.dot {
  all: unset; /* supprime tout le style par défaut du bouton */
  display: block; /* comme un élément normal */
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  background-color: white;
  opacity: 0.3;
  cursor: pointer;
  transition: opacity 0.3s ease;
}

.dot.active {
  opacity: 1;
}

.dot:hover {
  opacity: 0.7;
}

/* !!!!Ajustement images mobile crew issu de js */
.crew-mark  {
  width: 15.3rem;
  height: 22.2rem;
  transform: translateY(-0.3rem)
}

.crew-victor {
  width: 18rem;
  height: 22.2rem;
  transform: translateY(-0.3rem)
}

/* Quand Anousheh est active, on élargit la boîte picture-crew */
.picture-crew:has(.crew-anousheh) {
  width: 22.6rem;
} 

.crew-anousheh  {
  width: 22.6rem;
  height: 22.3rem;
  transform: translateY(-0.4rem);
}

/* !!!! ANIMATION crew.js !!!! */

/* Transition de base du texte */
.crew-slide {
  transition: transform 1s ease-in-out, opacity 0.8s ease;
  will-change: transform, opacity;
}

/* Sorties du texte */
.crew-slide.out-left {
  transform: translateX(-100%);
  opacity: 0;
}

.crew-slide.out-right {
  transform: translateX(100%);
  opacity: 0;
}

/* Entrées du texte */
.crew-slide.in-left {
  animation: slideInLeft 1s ease forwards;
}

.crew-slide.in-right {
  animation: slideInRight 1s ease forwards;
}

/* Keyframes texte */
@keyframes slideInLeft {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideInRight {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

/* === Image === */

/* Transition douce d’opacité */
.picture-crew img {
  transition: opacity 0.6s ease;
}

/* Disparition progressive */
.fade-out {
  opacity: 0;
}

/* Réapparition fluide */
.fade-in {
  opacity: 1;
  transition: opacity 0.8s ease;
}



/* ----------------------------------------------------------- */
/* PAGE TECHNOLOGY */
/* ----------------------------------------------------------- */

body.page-techno {
  background-image: url("../img/background-techno-m.jpg") ;
}

.contenu-techno {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.techno-txt{
text-align: center;
}


.techno-img {
  width: 100%;
  height: 17rem;      /* hauteur fixe de la fenêtre de cadrage */
  overflow: hidden;   /* cache ce qui dépasse */
  position: relative;
}

.techno-img img {
  width: 100%;
  height: 100%;       /* l’image remplit le bloc */
  object-fit: cover;  /* rogne au lieu de déformer */
  object-position: center 70%; /* déplace le cadrage vertical (ajuste selon ton image) */
  display: block;
}


.techno-slider {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1.6rem;
  padding-top: 4rem;
  padding-bottom: 3.7rem;
}

.techno-btn {
  all: unset;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  border: 1px solid rgba(255, 255, 255, 0.25);
  font-family: 'Bellefair', serif;
  font-size: 1.6rem;
  color: white;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.3s ease;
}

.techno-btn.active {
  background-color: white;
  color: #0b0d17;
}

.techno-btn:hover {
  border-color: white;
}

.techno-txt h2{
  font-family: 'Barlow Condensed';
  font-style: normal;
  font-weight: 400;
  font-size: 1.4rem;
  letter-spacing: 2.36px;
  padding-bottom: 0.5rem;
}

.techno-txt h3{
  font-family: 'Bellefair';
  font-style: normal;
  font-weight: 400;
  font-size: 2.4rem;
  color:#fff;
  padding-bottom: 1rem;
}

.techno-txt p {
  font-size: 1.5rem;
  letter-spacing: 0;
  max-width: 32.7rem;
  padding-bottom: 8rem;
}

/* !!!!ANIMATION techno.js!!!!! */

/* Animation horizontale */
.techno-slide {
  transition: transform 1.2s ease-in-out, opacity 0.8s ease;
}

.techno-slide.out-left {
  transform: translateY(120vw);
  opacity: 0;
}

.techno-slide.out-right {
  transform: translateY(-120vw);
  opacity: 0;
}

.techno-slide.in {
  transform: translateY(0);
  opacity: 1;
}

.techno-img img {
  transition: opacity 0.4s ease;
}




/* Version tablette */

@media (min-width: 768px) {

 body {
  background: #0B0D17 url("../img/background-t.jpg") center center / cover
   no-repeat;
}

  .burger {
    display: none;
  }

  header {
    position: relative;
    height: 9rem;
    
  }

  .nav {
    position: absolute; 
    transform: none;
    width: auto; /* ✅ réinitialisation */
    height: 100%;
    padding: 0 5rem;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  
  .nav-item span {
    display: none;
  }

  .nav-liste {
    flex-direction: row;
    gap: 3.7rem;
    justify-content: space-between;
    align-items: center;
  }

  .nav-item a {
    font-size: 1.4rem;
    letter-spacing: 0.2rem;
    text-transform: uppercase;
    display: inline-block;
    position: relative;
    color: #fff;
  }

  /* Trait sous le lien actif */
  .nav-item a.active::before {
    content: "";
    position: absolute;
    bottom: -3.5rem; 
    left: 0;
    right: 0;
    height: 0.3rem;
    background-color: #fff;
  }

  .hero {
    max-width: 46.5rem;
    padding-top: 10rem;
  }

  .pre-title {
    font-size: 2rem;
    letter-spacing: 0.34rem;
  }

  .page-destination .pre-title,
  .page-crew .pre-title,
  .page-techno .pre-title {
     text-align: left;
     padding-top: 5rem;
     padding-bottom: 6rem;
  }

  h1 {
    font-size: 15rem;
    margin-top: -3rem;
    margin-bottom: -3rem;
  }

  .btn-explore {
  margin: 12rem 0 8rem;
  width: 24rem;
  height: 24rem;
  flex: 0 0 24rem;
  }

  .hero a {
    font-size: 3.2rem;
    letter-spacing: 0.2rem;
  }

  .logo img {
    content: url("../img/logo-big.svg");
  }

   p {
  line-height: 2.8rem ;
}


/* ----------------------------------------------------------- */
/* PAGE DESTINATION Tablette*/
/* ----------------------------------------------------------- */

body.page-destination {
  background-image: url("../img/background-desti-t.jpg") ;
}

.img-lune img{
  width: 30rem;
  height: 30rem;
}



.nav-destination .liste-destination {
  gap: 3.5rem;
}

.item-destination a {
  font-size: 1.6rem;
}

.txt-destination h2 {
  font-size: 8rem;
  padding-top: 3rem;
}

.txt-destination p {
   padding-bottom: 3.5rem;
   font-size: 1.6rem;
   max-width: 57rem;
   margin:0 auto
  }

.item-destination a.active::before {
  bottom: -1.5rem;
}


.description-destination {
    padding-top: 3rem;
    padding-bottom: 3rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    max-width: 56rem;
    margin: 0 auto;

  }

.description-destination li:nth-child(1){
    
    font-family: 'Barlow Condensed';
    font-style: normal;
    font-weight: 400;
    font-size: 1.4rem;
    letter-spacing: 0.23rem;
    
  }

.description-destination li:nth-child(2){
    color:#fff;
    font-family: 'Bellefair';
    font-style: normal;
    font-weight: 400;
    font-size: 2.8rem;
  }


/* ----------------------------------------------------------- */
/* PAGE CREW Tablette*/
/* ----------------------------------------------------------- */

body.page-crew {
  background-image: url("../img/background-crew-t.jpg") ;
}

.contenu-crew {
  display: flex;
  flex-direction: column-reverse;
  justify-content: flex-end;
}

.crew-info {
  display: flex;
  flex-direction: column-reverse;
}

.crew-txt .crew-role {
  font-size: 2.8rem;
  
}

.crew-txt h3 {
  font-size: 4rem;
}

.crew-txt p {
  font-size: 1.6rem;
  max-width: 45.8rem;
  padding-bottom: 2.5rem;
}

.crew-slider {
  padding-bottom: 3rem;
}

.picture-crew {
    width: 45.6rem;
    height: 57.2rem;
  }

.picture-crew img {
   
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 45.6rem;
    height: 57.2rem;

  }

.picture-crew::before {
    display: none;
  }

  /* !!!!Ajustement images/txt tablette crew issu de js */

/* Quand Anousheh est active, on élargit la boîte picture-crew */
.picture-crew:has(.crew-anousheh) {
  width: 54rem;
} 

/* Ajustement visuel spécifique Anousheh */
.picture-crew .crew-anousheh {
  width: auto;
  height: auto;
}

/* Exception widht Mark */
.picture-crew:has(.crew-mark) ~ .crew-info .crew-txt p {
  max-width: 52rem;
}

/* Exception widht Victor */
.picture-crew:has(.crew-victor) ~ .crew-info .crew-txt p {
  max-width: 59rem;
}

/* Exception widht Anousheh */
.picture-crew:has(.crew-anousheh) ~ .crew-info .crew-txt p {
  max-width: 53rem;
}


/* ----------------------------------------------------------- */
/* PAGE TECHNOLOGY Tablette*/
/* ----------------------------------------------------------- */

body.page-techno {
  background-image: url("../img/background-techno-t.jpg") ;
}

.techno-slider {
  padding-top: 5rem;
  padding-bottom: 4rem;
}

.techno-btn {
  width: 6rem;
  height: 6rem;
  font-size: 2.4rem;
}


.techno-txt h2{
  font-size: 1.6rem;
  letter-spacing: 2.7px;
}

.techno-txt h3{
  font-size: 4rem;
}

.techno-txt p {
  font-size: 1.6rem;
  max-width: 45.8rem;
  padding-bottom: 9rem;
}

.techno-img {
  width: 100vw;
  height: 31rem;
  overflow: hidden;
  position: relative;

  /* Sort visuellement du container */
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
}

.techno-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: bottom 50%; /* Ajuste le cadrage */
  display: block;
}
}



@media (min-width: 1440px) {

  html {
    overflow-x: hidden;
  }
  body {
    background-image: url(../img/background-d.jpg); 
  }

  .pre-title {
    font-size: 2.8rem;
    letter-spacing: 0.47rem;
  }

  p {
    font-size: 1.8rem;
    line-height: 3.2rem;
  }

  .hero {
    flex-direction: row;
    max-width: 111rem;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    padding-top: 15rem;
    padding-bottom: 13rem;
  }

  .txt {
    max-width: 45rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 2.4rem;
    text-align: left;
  }

.btn-explore {
  position: relative;
  z-index: 1;
  margin-bottom: 2.4rem;
  background-color: #fff;
  color: #0B0D17;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 27rem;
  height: 27rem;
  flex: 0 0 27rem;
  font-family: 'Bellefair', serif;
  font-size: 3.2rem;
  letter-spacing: 0.2rem;
  transition: transform 0.3s ease;
  isolation: isolate; 
}

/* Cercle translucide pour le halo */
.btn-explore::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(255, 255, 255, 0.15);
  border-radius: 50%;
  transform: scale(0);
  transition: transform 0.6s ease;
  z-index: -1; 
  will-change: transform;
}

/* Effet hover */
.btn-explore:hover::before {
  transform: scale(1.65);
  opacity: 1;
}

/* HEADER */

header {
  margin-top: 4rem;
}

.nav {
  left : 50%
}

.nav-liste {
  gap : 4.8rem;
}

.nav-item {
  font-size: 1.6rem;
}

.nav-item span {
  display: inline;
  margin-right: 1rem;
}

.nav-item a.active::before {
    bottom: -3.4rem; 
}

.logo img {
  transform: translateX(-15.4rem);
}

/* BEFORE header */
header::before {
  content: "";
  position: absolute;
  top: 50%; 
  left: calc(50% - 53.5rem); 
  width: 56rem; 
  height: 1px;
  background-color: rgba(255, 255, 255, 0.25);
  transform: translateY(-50%);
  z-index: 100;
}

/* BEFORE nav hover */
.nav-item a::before {
  content: "";
  position: absolute;
  bottom: -3.4rem;
  left: 0;
  right: 0;
  height: 0.3rem;
  background-color: white;
  opacity: 0.5;
  transform: scaleX(0);
  transform-origin: center;
  transition: transform 0.3s ease, background-color 0.3s ease;
}

/* Apparition au survol */
.nav-item a:hover::before {
  transform: scaleX(1);
}

/* Renforcement du active */
.nav-item a.active::before {
  background-color: #fff;
  transform: scaleX(1);
  opacity : 1;
}

/* ----------------------------------------------------------- */
/* PAGE DESTINATION Desktop*/
/* ----------------------------------------------------------- */

body.page-destination {
  background-image: url("../img/background-desti-d.jpg");
}

.img-lune img{
  width: 44rem;
  height: 44rem;
}


.pre-title span {
  padding-right: 2.8rem;
}

.txt-destination h2{
  font-size: 10rem;
  padding-top: 3.7rem;
}

.txt-destination p{
  font-size: 1.8rem;
  padding-bottom: 6.4rem;
}

.contenu-destination {
  padding-top: 5rem;
  flex-direction: row;
  justify-content: space-between;
  text-align: left;
  align-items: center;
  gap: 5rem;
  padding-bottom: 6rem;
}

.txt-destination {
  max-width: 44.5rem;
  text-align: left;
  align-items: flex-start;
}

.nav-destination .liste-destination {
  display: flex;
  justify-content: flex-start; 
  text-align: left;
  width: 100%;
  padding-left: 0; 
}

.description-destination {
  display: flex;
  justify-content: flex-start;
  text-align: left;
  gap: 7.9rem;
  width: 100%;
}

.description-destination ul {
  text-align: left;
  margin: 0;
  padding: 0;
}


.txt-destination p::before{
    bottom: -0.5rem; 
  }

/* ----------------------------------------------------------- */
/* PAGE CREW Desktop*/
/* ----------------------------------------------------------- */

body.page-crew {
  background-image: url("../img/background-crew-d.jpg");
  overflow: hidden;
}

/* ===== Layout général ===== */
.contenu-crew {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: flex-start;
  gap: 8rem;
  padding-top: 0;
}

.picture-crew {
  position: relative;
  flex: 1;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  transform: scale(1.15, 1.08);
}

.picture-crew img {
  position: absolute;
  bottom: 0;
  left: 20%;
  width: auto;
  height: auto;
  max-height: 100rem;
  object-fit: contain;
  transform: none;
}

/* ===== Texte ===== */
.crew-txt {
  text-align: left;
}

.crew-txt .crew-role {
  font-size: 3.2rem;
  padding-top: 10rem;
}

.crew-txt h3 {
  font-size: 5.6rem;
}

.crew-txt p {
  font-size: 1.8rem;
  padding-bottom: 9rem;
}

.crew-slider {
  justify-content: flex-start;
  padding-bottom: 0;
}

.dot {
  width: 1.5rem;
  height: 1.5rem;
}

/* ===== Ajustements spécifiques ===== */

/* Textes spécifiques */
.picture-crew:is(:has(.crew-mark), :has(.crew-victor), :has(.crew-anousheh))
  ~ .crew-info
  .crew-txt
  p {
  max-width: 44rem;
}

/* --- Douglas (valeurs par défaut) --- */

/* --- Mark --- */
.picture-crew img.crew-mark {
  height: 65.4rem;
  bottom: -5.8rem;
  left: 0;
}

/* --- Victor --- */
.picture-crew img.crew-victor {
  height: 55rem;
  left: 25%;
}

/* --- Anousheh --- */
.picture-crew img.crew-anousheh {
  height: 60.7rem;
  bottom: -3rem;
  left: 25%;
  transform: scale(1.15);
}



/* ----------------------------------------------------------- */
/* PAGE TECHNOLOGY - DESKTOP */
/* ----------------------------------------------------------- */

body.page-techno {
  background-image: url("../img/background-techno-d.jpg");
  position : relative;
  overflow-x: hidden;
}

.page-techno .pre-title {
  padding-bottom: 13rem;
}

.techno-main {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
 
}

.contenu-techno {
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 8rem;
}

.techno-txt {
  text-align: left;
  display: flex;
  flex-direction: column;
}

.techno-img {
  position: absolute;
  transform: translateX(200%);
  width: 51.5rem;     
  height: 52.7rem;    
  padding: 0;
  top : 40%;

  padding-bottom: 6rem;
}


.techno-img img {
  object-fit: cover;
  display: block;
  padding: 0;
  object-position: center 45%;
}


/* SLIDER & TEXTE */
.techno-slider {
  flex-direction: column;
  align-items: center;
  gap: 3.2rem;
  padding: 0;
}

.techno-btn {
  width: 8rem;
  height: 8rem;
  border-radius: 50%;
  font-size: 3.2rem;
}

.techno-txt h3 {
  font-size: 5.6rem;
  padding-bottom: 1.3rem;
}

.techno-txt p {
  max-width: 39.5rem;
  padding-top: 0;
  padding-bottom: 0;
}



}

